@using LinkDotNet.KanbanBoard.Domain
@using System.ComponentModel.DataAnnotations
<style type="text/css">
    .add-goal-grid-container {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 1px 1px;
        grid-template-areas:
                           "add-goal-title add-goal-title-value"
                           "add-goal-rank add-goal-rank-value"
                           "add-goal-deadline add-goal-deadline-value";
    }

    .add-goal-title { grid-area: add-goal-title; }

    .add-goal-title-value { grid-area: add-goal-title-value; }

    .add-goal-rank { grid-area: add-goal-rank; }

    .add-goal-rank-value { grid-area: add-goal-rank-value; }

    .add-goal-deadline { grid-area: add-goal-deadline; }

    .add-goal-deadline-value { grid-area: add-goal-deadline-value; }

    .add-goal-submit { float: right;
        flex: 1;
    }

    .subtasks {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .subtask-input { box-sizing:content-box; }

    .add-goal-subtasks {
        flex: 1;
    }
</style>
<EditForm Model="@_addGoalModel" OnValidSubmit="HandleSubmitAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="add-goal-grid-container">
        <div class="add-goal-title">
            <p>Title: </p>
        </div>
        <div class="add-goal-title-value">
            <InputText @bind-Value="_addGoalModel.Title" />
        </div>
        <div class="add-goal-rank">
            <p>Select importance: </p>
        </div>
        <div class="add-goal-rank-value">
            <InputSelect name="importance" @bind-Value="_addGoalModel.Rank">
                <option value="" selected disabled hidden>Choose rank</option>
                @foreach (var importance in Rank.All)
                {
                    <option value="@importance.Key">@importance.DisplayRank</option>
                }
            </InputSelect>
        </div>
        <div class="add-goal-deadline">
            <p>Select deadline: </p>
        </div>
        <div class="add-goal-deadline-value">
            <InputDate @bind-Value="_addGoalModel.Deadline"/>
        </div>
    </div>
    <div class="subtasks">
        <div class="add-goal-subtasks">
            <table>
                @foreach (var subtask in _addGoalModel.Subtasks)
                {
                    <tr>
                        <td><InputText @bind-Value="subtask.Title" class="subtask-input"/></td>
                        <td><button type="button" @onclick="() => DeleteSubtask(subtask)">🗙</button></td>
                    </tr>
                }
                <tr>
                    <td><input @bind="_newSubtask" /></td>
                    <td><button type="button"  @onclick="() => AddSubtask(_newSubtask)">+</button></td>
                </tr>
            </table>
        </div>
        <div class="add-goal-submit">
            <button style="float: right;" type="submit">Add Goal</button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    [Required]
    public EventCallback<Goal> GoalAddedCallback { get; set; }

    private AddGoalModel _addGoalModel = new AddGoalModel();
    private string _newSubtask = string.Empty;

    private async Task HandleSubmitAsync()
    {
        var rank = Rank.Create(_addGoalModel.Rank).Value;
        var subtasks = _addGoalModel.Subtasks.Select(s => Subtask.Create(s.Title).Value);
        var goal = Goal.Create(_addGoalModel.Title, rank, GoalStatus.Todo, subtasks, _addGoalModel.Deadline).Value;
        await GoalAddedCallback.InvokeAsync(goal);
        ResetModel();
    }

    private void ResetModel()
    {
        _addGoalModel = new AddGoalModel();
    }

    private void DeleteSubtask(SubtaskModel subtaskModel)
    {
        _addGoalModel.Subtasks.Remove(subtaskModel);
    }

    private void AddSubtask(string subtask)
    {
        var subtaskModel = new SubtaskModel {Title = subtask};
        _addGoalModel.Subtasks.Add(subtaskModel);
        _newSubtask = string.Empty;
    }
}