@using System.ComponentModel.DataAnnotations
@using LinkDotNet.KanbanBoard.Domain
@using LinkDotNet.KanbanBoard.UI.Features
@inherits BlazorState.BlazorStateComponent
<style type="text/css">
    .goal-container {
        display: flex;
        justify-content: space-around;
    }
     
</style>
<div class="goal-container">    
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div> 
@code {
    [Parameter]
    [Required]
    public IReadOnlyCollection<Goal> Goals { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public Goal Payload { get; set; }

    public async Task UpdateGoalStatusAsync(GoalStatus newStatus)
    {
        await Mediator.Send(new GoalState.ChangeGoalStatusAction(Payload.Id, newStatus));
    }
}
