@using System.ComponentModel.DataAnnotations
@using LinkDotNet.KanbanBoard.Domain
<style type="text/css">
    .goal-container {
        display: flex;
        justify-content: space-around;
    }
     
</style>
<div class="goal-container">    
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>
@code {
    [Parameter]
    [Required]
    public IReadOnlyCollection<Goal> Goals { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public Goal Payload { get; set; }

    public void UpdateGoalStatus(GoalStatus newStatus)
    {
        Payload.GoalStatus = newStatus;

        // We have to tell Blazor that the State has changed
        // As we do not directly change the 
        StateHasChanged();
    }
}
