@using LinkDotNet.KanbanBoard.Domain
<style type="text/css">
    .goal-status {
        display: flex;
        flex-direction: column;
    }

    .goal-status ul {
        flex: 1;
    }

    .goal-list {
        list-style: none;
    }

    .goal-item {
        margin-bottom: 10px;
    }
</style>
<div class="goal-status">
    <h3>@GoalStatus.Key (@Goals.Count)</h3>
    <ul class="goal-list">
        @foreach (var goal in Goals)
        {
            <li class ="goal-item"><TodoTile Goal="goal"></TodoTile></li>
        }
    </ul>
</div>
@code {
    [CascadingParameter]
    private GoalContainer GoalContainer { get; set; }

    [Parameter]
    public GoalStatus GoalStatus { get; set; }

    private List<Goal> Goals = new List<Goal>();

    protected override void OnParametersSet()
    {
        Goals.Clear();
        Goals.AddRange(GoalContainer.Goals.Where(x => x.GoalStatus == GoalStatus));
    }
}
