@using Domain
@using System.ComponentModel.DataAnnotations
<style type="text/css">
    .tile {
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        background: #3C74B6;
    }

    .tile:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .todo-box-content {
        padding: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1px 1px;
        grid-template-areas:
                           "title title title right-box"
                           "title title title right-box"
                           "title title title right-box";
    }

    .title {
        border-radius: 5px;
        background: #FEFFF4;
        word-wrap: break-word;
        grid-area: title;
    }

    .title-content {
        margin: 10px;
    }

    .right-box {
        text-align: center;
        padding-left: 10px;
        grid-area: right-box;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, minmax(0,1fr));
        gap: 10% 0;
        grid-template-areas:
                           "rank"
                           "subgoalcount"
                           "deadline";
    }

    .overdue {
        color: #ff9966;
    }

    .box {
        background: #AF93EB;
        border-radius: 7px;
    }

    .rank { grid-area: rank; }
    .subgoalcount { grid-area: subgoalcount; }
    .deadline { grid-area: deadline; }
</style>
<div class="tile">
    <div class="todo-box-content">
        <div class="title">
            <span class="title-content">@Goal.Title</span>
        </div>

        <div class="right-box">
            <div class="rank box">
                <p>@Goal.Rank.ShortRank</p>
            </div>
            <div class="subgoalcount box">
                <p>@Goal.Subtasks.Count()</p>
            </div>
            <div class="deadline box">
                <p id="deadline-text">@GetShortDeadline()</p>
            </div>
        </div>
    </div>
</div>
@code {
    [Required]
    [Parameter]
    public Goal Goal { get; set; }

    private string GetShortDeadline()
    {
        var isCurrentYear = Goal.Deadline.Year == DateTime.Now.Year;
        var year = isCurrentYear ? string.Empty : " yyyy";
        return Goal.Deadline.ToString($"d'.' MMM'.'{year}");
    }
}
    