@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<BlazoredToasts ShowProgressBar="true" Timeout="10"/>
<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
