@page "/"
@using Grpc.Net.Client
@using LinkDotNet.KanbanBoard.Domain
@using LinkDotNet.KanbanBoard.Web
@using LinkDotNet.KanbanBoard.UI.Components
@using LinkDotNet.KanbanBoard.UI.Features
@using Grpc.Core
@inject Kanban.KanbanClient KanbanClient
@inherits BlazorState.BlazorStateComponent
<style type="text/css">
    .kanban-header {
        width: 100%;
        top: 0;
        left: 0;
        background-color: #A7A7A7;
        color: #262626;
    }
</style>
<div class="kanban-header">
        <h2>Kanban Board</h2>
    </div>
<div class="content">
    @if (GoalState == null)
    {
        <p><em>Loading data from Server...</em></p>
    }
    else
    {
        <GoalContainer Goals="GoalState.Goals">
            <Swimlane GoalStatus="GoalStatus.Todo" CanAddGoals="true"></Swimlane>
            <Swimlane GoalStatus="GoalStatus.InProgress"></Swimlane>
            <Swimlane GoalStatus="GoalStatus.Completed"></Swimlane>
        </GoalContainer>
    }
</div>
@code
{
    private GoalState GoalState => GetState<GoalState>();

    protected override async Task OnInitializedAsync()
    {
        await Mediator.Send(new GoalState.LoadGoalsAction());
    }
}