@page "/"
@using Grpc.Net.Client
@using LinkDotNet.KanbanBoard.Domain
@using LinkDotNet.KanbanBoard.Web
@using LinkDotNet.KanbanBoard.UI.Components
@inject GrpcChannel Channel

<h1>Kanban Board</h1>
@if (_status == null)
{
    <p><em>Loading data from Server...</em></p>
}
else
{
    <TodoTile Goal="_test"></TodoTile>
}

@code
{
    private readonly Goal _test = new Goal("Some Goal Title", DateTime.Now, Array.Empty<Subtask>(), Rank.Important);
    private HealthStatus _status;

    protected override async Task OnInitializedAsync()
    {
        var client = new Kanban.KanbanClient(Channel);
        _status = await client.HealthCheckAsync(new Empty());
    }
}
