@page "/"
@using Grpc.Net.Client
@using LinkDotNet.KanbanBoard.Web
@using LinkDotNet.KanbanBoard.UI.Components
@inject GrpcChannel Channel

<h1>Kanban Board</h1>
@if (_status == null)
{
    <p><em>Loading data from Server...</em></p>
}
else
{
    <Tile Title="@_status.WelcomeMessage"></Tile>
}


@code
{
    private HealthStatus _status;

    protected override async Task OnInitializedAsync()
    {
        var client = new Kanban.KanbanClient(Channel);
        _status = await client.HealthCheckAsync(new Empty());
    }
}
