@page "/"
@using Grpc.Net.Client
@using LinkDotNet.KanbanBoard.Domain
@using LinkDotNet.KanbanBoard.Web
@using LinkDotNet.KanbanBoard.UI.Components
@using Grpc.Core
@inject GrpcChannel Channel

<div class="content">

<h1 style="color:whitesmoke">Kanban Board</h1>
@if (_status == null)
{
    <p><em>Loading data from Server...</em></p>
}
else
{
    <GoalContainer Goals="_goals">
        <Swimlane GoalStatus="GoalStatus.Todo"></Swimlane>
        <Swimlane GoalStatus="GoalStatus.InProgress"></Swimlane>
        <Swimlane GoalStatus="GoalStatus.Completed"></Swimlane>
    </GoalContainer>
}
</div>
@code
{

    private readonly List<Goal> _goals = new List<Goal>();
    private readonly GoalDto _status = new GoalDto {Title = "Test"};

    protected override async Task OnInitializedAsync()
    {
        var client = new Kanban.KanbanClient(Channel);
        await foreach (var data in client.GetAllGoals(new Empty()).ResponseStream.ReadAllAsync())
        {
            var rank = Rank.Create(data.Rank).Value;

            var goal = new Goal(data.Title, new DateTime(data.Deadline), Array.Empty<Subtask>(), rank, GoalStatus.Create(data.GoalStatus).Value);
            _goals.Add(goal);
        }
    }
}