@page "/"
@using Grpc.Net.Client
@using LinkDotNet.KanbanBoard.Domain
@using LinkDotNet.KanbanBoard.Web
@using LinkDotNet.KanbanBoard.UI.Components
@using Grpc.Core
@using LinkDotNet.KanbanBoard.UI.Features
@inject GrpcChannel Channel
@inherits BlazorState.BlazorStateComponent
<style type="text/css">.kanban-header {
     overflow-x: hidden;
     margin: 0 -9999rem;
     padding: 0.25rem 9999rem;
     background-color: #A7A7A7;
     color: #262626;
 }</style>

<div class="kanban-header">
    <h2>Kanban Board</h2>
</div>
<div class="content">
    @if (_status == null)
{
    <p><em>Loading data from Server...</em></p>
}
else
{
    <GoalContainer Goals="GoalState.Goals">
        <Swimlane GoalStatus="GoalStatus.Todo" CanAddGoals="true"></Swimlane>
        <Swimlane GoalStatus="GoalStatus.InProgress"></Swimlane>
        <Swimlane GoalStatus="GoalStatus.Completed"></Swimlane>
    </GoalContainer>
}
</div>
@code
{
    private readonly GoalDto _status = new GoalDto {Title = "Test"};

    private GoalState GoalState => GetState<GoalState>();

    protected override async Task OnInitializedAsync()
    {
        var client = new Kanban.KanbanClient(Channel);
        await foreach (var data in client.GetAllGoals(new Empty()).ResponseStream.ReadAllAsync())
        {
            await Mediator.Send(new GoalState.AddGoalAction(data));
        }
    }
}