@page "/"
@using LinkDotNet.KanbanBoard.Domain
@using LinkDotNet.KanbanBoard.Web
@using LinkDotNet.KanbanBoard.UI.Components
@using LinkDotNet.KanbanBoard.UI.Features
@inject Kanban.KanbanClient KanbanClient
@inherits BlazorState.BlazorStateComponent
<div class="content">
    <GoalContainer Goals="GoalState.Goals">
        <Swimlane GoalStatus="GoalStatus.Todo" CanAddGoals="true"></Swimlane>
        <Swimlane GoalStatus="GoalStatus.InProgress"></Swimlane>
        <Swimlane GoalStatus="GoalStatus.Completed"></Swimlane>
    </GoalContainer>
</div>
@code
{
    private GoalState GoalState => GetState<GoalState>();

    protected override Task OnInitializedAsync()
    {
        //// TODO: Find a better way to check if the state is initialized or not
        return !GoalState.Goals.Any() ? Mediator.Send(new GoalState.LoadGoalsAction()) : Task.CompletedTask;
    }
}