@page "/"
@using Grpc.Net.Client
@using LinkDotNet.KanbanBoard.Domain
@using LinkDotNet.KanbanBoard.Web
@using LinkDotNet.KanbanBoard.UI.Components
@using Grpc.Core
@using LinkDotNet.KanbanBoard.UI.Features
@inject GrpcChannel Channel
@inherits BlazorState.BlazorStateComponent

<div class="content">

<h1 style="color:whitesmoke">Kanban Board</h1>
@if (_status == null)
{
    <p><em>Loading data from Server...</em></p>
}
else
{
    <GoalContainer Goals="GoalState.Goals">
        <Swimlane GoalStatus="GoalStatus.Todo"></Swimlane>
        <Swimlane GoalStatus="GoalStatus.InProgress"></Swimlane>
        <Swimlane GoalStatus="GoalStatus.Completed"></Swimlane>
    </GoalContainer>
}
</div>
@code
{
    private readonly GoalDto _status = new GoalDto {Title = "Test"};

    private GoalState GoalState => GetState<GoalState>();

    protected override async Task OnInitializedAsync()
    {
        var client = new Kanban.KanbanClient(Channel);
        await foreach (var data in client.GetAllGoals(new Empty()).ResponseStream.ReadAllAsync())
        {
            await Mediator.Send(new GoalState.AddGoalAction(data));
        }
    }
}