@page "/"
@using Grpc.Net.Client
@using LinkDotNet.KanbanBoard.Domain
@using LinkDotNet.KanbanBoard.Web
@using LinkDotNet.KanbanBoard.UI.Components
@inject GrpcChannel Channel

<h1>Kanban Board</h1>
@if (_status == null)
{
    <p><em>Loading data from Server...</em></p>
}
else
{
    <GoalContainer Goals="_goals">
        <Swimlane GoalStatus="GoalStatus.Todo"></Swimlane>
        <Swimlane GoalStatus="GoalStatus.InProgress"></Swimlane>
        <Swimlane GoalStatus="GoalStatus.Completed"></Swimlane>
    </GoalContainer>
}

@code
{
    private readonly List<Goal> _goals = new List<Goal>
    {
        new Goal("Some Goal Title", DateTime.Now, Array.Empty<Subtask>(), Rank.Important, GoalStatus.Completed), 
        new Goal("Some Goal Title 2", DateTime.Now, Array.Empty<Subtask>(), Rank.Important, GoalStatus.InProgress)
    };
    private HealthStatus _status;

    protected override async Task OnInitializedAsync()
    {
        var client = new Kanban.KanbanClient(Channel);
        _status = await client.HealthCheckAsync(new Empty());
    }
}
